body{
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    font-size: 50px;
    font-weight: normal;
    display: block;
    text-align: center;
}